.Inicio {
    background-color: rgb(182, 222, 65);
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(18, 1, 1);
    text-align: center;
}
.abajo {
    background-color: black;
    color: white;
    text-align: center;
}